[submodule "Tools/EventAssembler"]
	path = Tools/EventAssembler
	url = git@github.com:StanHash/EventAssembler.git
[submodule "Tools/FE-CLib"]
	path = Tools/FE-CLib
	url = git@github.com:StanHash/FE-CLib.git
