# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.zip
*.7z

# Windows shortcuts
*.lnk

# Gimp workfiles
*.xcf
*.psd

# Audio/video files not needed for build
*.mp3
*.mp4

# Notes docs
*.notes.txt

# Tools
/Animations/_CharacterPalettes/NLCompressor
/Animations/_CharacterPalettes/BatchLZ77
/Animations/_SpellAnims/CSA_Creator/grit
/**/FE-CLib-master
/Music/mid2agb.exe
/Music/advanced music installer suite/songs/midi2agb.exe
/Music/advanced music installer suite/samples/sox-14.4.2
/EventAssembler/
Engine_Hacks/TODO/

# Graphics assets
/Animations/_CharacterPalettes/*.png
/Animations/**/*.png
/Engine_Hacks/QOL/CasualMode/CasualModeMenu2
/Maps/Reference_Resources
/Graphics/*.exe
/Graphics/Mugs/*.png
/Graphics/Mugs/ClassCards/*.png
/Graphics/CGs/*.png
/Graphics/MapSprites/*.png
/Graphics/NosResire/*.png
/Graphics/OP/*.png
/Graphics/Tilesets/Cave/FieldAnim
/Graphics/UISource/*.png
/Graphics/BattleBGs
/Graphics/ItemIcon/FEierIcons
/Graphics/ItemIcon/CardEchoesItems
/Graphics/*.png

# Text IDs
/Text/_English/.TextEntries/*
/Text/_Spanish/.TextEntries/*
/Text/_French/.TextEntries/*
/Text/_PT-BR/.TextEntries/*

# gameboy stuff
*.gba
*.sav
*.sgm
*.ss0
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
*.ups

#symbols logs from assembling
SacredEchoes.sym
SacredEchoes_ES.sym
SacredEchoes_FR.sym
SacredEchoes_PT.sym
SacredEchoesDEBUG.sym
*.symbols.log

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
